
testing and fucking debugging/facts_seq_to_seq.keras
testing and fucking debugging/issues_seq_to_seq.keras
*.safetensors
/testing and fucking debugging/test_trainer
/testing and fucking debugging/fine-tuned-legal-bert-model
/testing and fucking debugging/fine-tuned-legal-bert-tokenizer
testing and fucking debugging/miguel_fix/my_awesome_model/checkpoint-337/optimizer.pt
my_awesome_model/checkpoint-337/optimizer.pt
/my_awesome_model
website/backend/56
website/backend/56/optimizer.pt
.history
website/backend/75/optimizer.pt
website/instance/test.db
